
body {
	font-family: sans-serif;
	background: #eee;
}

p {
	font-size: 1.1em;
	color: #333;	
	margin-top: .75em;
}

nav {
	background-color: rgba(15, 132, 209, .5);
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: .5em 0;
	border-bottom: 1px solid #111;
}

.wrapper {
	margin: 0 auto;
	text-align: center;
}

a {
	text-decoration: none;
	padding: 1em 2.5em;
	display: block;
	color: #fff;
}

 li  {
 	display: inline-block;
	background-color: none;
	font-weight: bold;
	border: 2px solid #fff;
	margin-top: .25em;
}

#ajaxDiv {
	height: 100%;
	width: 100%;
}

img {
	width: 100%;
	height: 100%;
}